matplotlib
sphinx
sphinx-rtd-theme @ git+https://github.com/readthedocs/sphinx_rtd_theme@3.1.0
git+https://github.com/pydata/pydata-sphinx-theme.git@v0.19.0
git+https://github.com/authsec/sphinx-diagrams/
#sphinx-diagrams
# d2 lang support
metapensiero.sphinx.d2
sphinxcontrib-xlink
sphinxcontrib.plantuml
sphinxcontrib.nwdiag
sphinxcontrib.actdiag
sphinxcontrib.blockdiag
sphinxcontrib.seqdiag
sphinxcontrib-mermaid
sphinxcontrib.bibtex
sphinxcontrib-kroki
sphinx-revealjs
sphinxjp.themes.revealjs
sphinxcontrib-textstyle
sphinxcontrib-tikz
sphinxcontrib-excel-table
sphinxcontrib-excel-table-plus
sphinxcontrib-exceltable
sphinxcontrib-confluencebuilder
sphinxcontrib-versioning
sphinxcontrib-httpdomain
sphinxcontrib-openapi
pybtex-apa-style
sphinx-exec-directive
groundwork-sphinx-theme
sphinx-book-theme
groundwork-sphinx-theme
sphinx-icon
esbonio
sphinx-tags
sphinx-design
sphinx-needs>=7
sphinxcontrib-newsfeed
ablog
poetry
topydo[columns,prompt]
rinohtype
restructuredtext-lint
bibtexparser
myst-parser
docxbuilder
sphinx-jinja2
sphinxcontrib-drawio
sphinxawesome-theme
hieroglyph
bibulous
deck2pdf
gitdb2
jupyter
jupyter-book
jupyterbook-latex
GitPython
pelican-gist
pelican-neighbors
pelican-sitemap
pelican-jinja-filters
pelican-seo
pelican-plugin-linkbacks
pelican-feed-filter
pelican-simple-footnotes
pelican-more-categories
pelican-jupyter
geopandas
pandas
dask
dask-sphinx-theme
hovercraft
pelican
pysass
rst2pdf
rstcheck
smmap
recommonmark
soupsieve
smartypants
plotly
pipx
seaborn
markdown2
typogrify
diagrams
tabulate
libsass
rcssmin
arrow
autopep8
feedgenerator
pybtex
doc8
docutils 
sphinx-rst-builder
ddt 
blinker
willow
pandoc
sphinx-subfigure